rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{profileID} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == profileID;
    }
    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth !=null;
      match /users/{userID} {
        allow write: if request.auth != null && request.auth.uid == userID;
      }
      match /matches/{matchID} {
        allow read: if request.auth != null && (
          resource.data.company == request.auth.uid
        || resource.data.dev == request.auth.uid
        || resource.data.explorer == request.auth.uid);
      }
    }
  }
}